
*.dta
*.png
tables/descriptive_evac_vs_nevac.txt
tables/did_synth_emplyd_dallas.tex
tables/did_synth_emplyd_dallascollege.tex
tables/did_synth_emplyd_dallashighsch.tex
tables/did_synth_emplyd_dallasnohighsch.tex
tables/did_synth_emplyd_dallassomecollege.tex
tables/did_synth_emplyd_fayetteville.tex
tables/did_synth_emplyd_fayettevillecollege.tex
tables/did_synth_emplyd_fayettevillehighsch.tex
tables/did_synth_emplyd_fayettevillenohighsch.tex
tables/did_synth_emplyd_fayettevillesomecollege.tex
tables/did_synth_emplyd_houston.tex
tables/did_synth_emplyd_houstoncollege.tex
tables/did_synth_emplyd_houstonhighsch.tex
raw/CPIAUCSL.csv
raw/cps_00020.dat
raw/CPSmonthly_extract.do
tables/did_synth_emplyd_houstonnohighsch.tex
tables/did_synth_inactive_dallascollege.tex
tables/did_synth_inactive_fayettevillesomecollege.tex
tables/did_synth_inactive_houston.tex
tables/did_synth_inactive_houstonnohighsch.tex
tables/did_synth_inactive_houstonhighsch.tex
tables/did_synth_lr_w_wage_dallashighsch.tex
tables/did_synth_lr_w_wage_fayetteville.tex
tables/did_synth_lr_w_wage_fayettevillenohighsch.tex
tables/labor_status_sample.txt
tables/diffindiffhighsch.tex
tables/diffindiffcollege.tex
tables/diffindiff.tex
tables/did_synth_lr_w_wage_houstonsomecollege.tex
tables/diffindiffnohighsch.tex
tables/diffindiffsomecollege.tex
tables/did_synth_lr_w_wage_houstoncollege.tex
tables/did_synth_lr_w_wage_fayettevillehighsch.tex
tables/did_synth_lr_w_wage_fayettevillecollege.tex
tables/did_synth_lr_w_wage_dallasnohighsch.tex
tables/did_synth_lr_w_wage_dallas.tex
tables/did_synth_inactive_houstoncollege.tex
tables/did_synth_inactive_fayettevillecollege.tex
tables/did_synth_emplyd_houstonsomecollege.tex
tables/did_synth_inactive_dallas.tex
tables/did_synth_inactive_fayettevillenohighsch.tex
tables/did_synth_lr_w_wage_dallascollege.tex
tables/did_synth_inactive_houstonsomecollege.tex
tables/did_synth_inactive_fayetteville.tex
tables/did_synth_inactive_dallassomecollege.tex
tables/did_synth_inactive_dallasnohighsch.tex
tables/did_synth_lr_w_wage_fayettevillesomecollege.tex
tables/did_synth_lr_w_wage_houston.tex
tables/treatment_assignment.tex
tables/did_synth_lr_w_wage_houstonnohighsch.tex
tables/did_synth_inactive_fayettevillehighsch.tex
tables/did_synth_inactive_dallashighsch.tex
tables/did_synth_lr_w_wage_dallassomecollege.tex
tables/did_synth_lr_w_wage_houstonhighsch.tex
